<!-- templates/home.html -->
{% extends "_base.html" %}
{% load static %}

{% block title %}Home{% endblock title %}
{% block content %}
<div class="main-wrapper">
   <h1>This is our home page</h1>
   {% if user.is_authenticated %}
   <p>Hi {{user.email}}</P>
    <a href="{% url 'logout' %}">Logout</a>
   {% else %}
   <p>You are not logged in</P>
    <a href="{% url 'login' %}">Log in</a>
    <a href="{% url 'signup' %}">Sign Up</a>
   {% endif %}
</div>
<!-- ============================================================== -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<!-- Bootstrap tether Core JavaScript -->
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script>

//
//$(".preloader").fadeOut();
// ============================================================== 
// Login and Recover Password 
// ============================================================== 
$('#to-recover').on("click", function() {
    $("#loginform").slideUp();
    $("#recoverform").fadeIn();
});
$('#to-login').click(function(){
    
    $("#recoverform").hide();
    $("#loginform").fadeIn();
});
</script>
{% endblock content %}