<!-- templates/home.html -->
{% extends "_base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Credit Rating Form{% endblock title %}
{% block content %}
<div class="mx-auto col-sm-6 col-8  pt-3 mb-3 row justify-content-center">
   <h1>Credit Rating Form</h1>
   {% if user.is_authenticated %}
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit">Submit</button>
    </form>
    <a href="{% url 'logout' %}">Logout</a>
   {% else %}
   <p>You are not logged in</P>
    <a href="{% url 'login' %}">Log in</a>
    <a href="{% url 'signup' %}">Sign Up</a>
   {% endif %}
</div>
<!-- ============================================================== -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<!-- Bootstrap tether Core JavaScript -->
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script>

//
//$(".preloader").fadeOut();
// ============================================================== 
// Login and Recover Password 
// ============================================================== 
$('#to-recover').on("click", function() {
    $("#loginform").slideUp();
    $("#recoverform").fadeIn();
});
$('#to-login').click(function(){
    
    $("#recoverform").hide();
    $("#loginform").fadeIn();
});
</script>
{% endblock content %}